@font-face {
    font-family: "clock_font";
    src: url(../fonts/LiquidCrystal-BoldItalic.otf);
}
@font-face {
    font-family: "clock_font2";
    src: url(../fonts/LiquidCrystal-Bold.otf);
}
#clock{
    font-family: "clock_font2";
    color: rgb(5, 122, 151);
    font-size: 50px;
}
/* #app{
    height: 200px;
} */
/* .pc{
    text-align: center;
    align-items: center;
} */
.phone{
    text-align: center;
    
    /* align-items: center; */
}
/* .pc #input{
    width: 100%;
    border-radius: 20px;
    border: 1px solid gainsboro;
    align-items: center;
} */
.phone #input{
    width: 249px;
    height: 30px;
    border-radius: 20px;
    border: 1px solid gainsboro;
    outline: none;
    text-indent: 10px;
}
#engine_select{
    height: 30px;
    border-radius: 20px;
    padding: 0 0 0 10px;
}
