@font-face {
    font-family: "clock_font";
    src: url(../fonts/LiquidCrystal-BoldItalic.otf);
}
@font-face {
    font-family: "clock_font2";
    src: url(../fonts/LiquidCrystal-Bold.otf);
}
#clock{
    font-family: "clock_font2";
    color: aqua;
    font-size: 50px;
}
.pc{
    text-align: center;
    /* align-items: center; */
}
.phone{
    text-align: center;
    
    /* align-items: center; */
}
.pc #input{
    width: 560px;
    height: 44px;
    /* align-items: center; */
}
.phone #input{
    width: 80%;
    height: 80px;
    /* align-items: center; */
}