@font-face {
    font-family: "clock_font";
    src: url(../fonts/LiquidCrystal-BoldItalic.otf);
}
@font-face {
    font-family: "clock_font2";
    src: url(../fonts/LiquidCrystal-Bold.otf);
}
#clock{
    font-family: "clock_font2";
    color: aqua;
    font-size: 50px;
}
/* #app{
    height: 200px;
} */
.pc{
    text-align: center;
    /* align-items: center; */
}
.phone{
    text-align: center;
    
    /* align-items: center; */
}
.pc #input{
    width: 100%;
    border-radius: 20px;
    border: 1px solid gainsboro;
    /* align-items: center; */
}
.phone #input_div{
    width: 80%;
    /* height: 50px; */
    /* background-image: url("../imgs/input-bg.png"); */
    /* background-size: 90%; */
    /* background-size: contain; */
    /* background-repeat: no-repeat; */
    /* border-style: none; */
    /* height: 10%; */
    align-items: center;
}
.phone #input{
    width: 100%;
    border-radius: 20px;
    border: 1px solid gainsboro;
    /* width: 80%; */
    /* width: 80%; */
    /* background-image: url("../imgs/input-bg.png"); */
    /* background-size: cover; */

    /* border: 0; */
    outline: none;
    /* background: transparent; */
    /* height: 10%; */
    /* align-items: center; */
}