<!--
 * @Description: 
 * @Author: Yale_Xin
 * @Date: 2020-03-20 13:11:29
 * @LastEditTime: 2020-03-21 15:57:40
 * @LastEditors: Yale_Xin
 -->
<!DOCTYPE html>
<html lang="zh">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>个人主页</title>
    <link rel="stylesheet" type="text/css" href="./css/main.css">
    <link href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    </link>
</head>

<body onload="setTime()"
    style="background-image: url('https://api.dujin.org/bing/1920.php');background-repeat: no-repeat;background-size: cover;">
    <div id="app" class="phone">
        <span id="clock">00:00:00
        </span>
        <script src="./js/clock.js"></script>
        <br>
        <input id="input" type="text" @keydown.enter="enter" v-model="input" @blur="blur" @focus="focus"
            placeholder="微软Bing搜索-国内版">
        <select name="plan" id="engine_select" @change="change">
            <option v-if="s_engine == null">必应</option>
            <option v-for="(item,index) in s_engine" class="options">
                {{item}}
            </option>
        </select>
    </div>
    <script src="./js/device.js"></script>
    <script src="./lib/vue.js"></script>
    <script src="./js/main.js"></script>
    <script type="text/javascript" src="https://api.uixsj.cn/hitokoto/api.php?type=hitokoto&code=js"></script>
    <div id="hitokoto" style="margin-top: 500px;">
        <script>hitokoto()</script>
    </div>
</body>

</html>